@import 'fonts.css';
@import 'normalize.css';


:root{
    --font-size-default:         18px;
    --font-family-default:         "Roboto", "Inter";
}

body{
    min-width: 1024px;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 142, 157, 0.1);
    font-family: "Roboto", "Inter";
    font-weight: 400;
    line-height: 1.5;
}

section{
    background-color: #FFFFFF;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.box{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 24px;
}

/* header */ 
.header{
 background-color: #228E9D;
}

.header_wrapper{
    display: flex;
    align-items: center;
    padding: 0;
}

.header_logo{
    max-height: 60px;
    margin-right: 66px;
    margin-top: 10px;
}


.header_nav_list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 29px 0;

}

.header_nav_list_item{
    font-size: 18px;
}

.header_nav_list_link{
    text-decoration: none;
    color: #F0DFDF;
    font-size: 18;
    padding: 7px 5px;

}

.logout{
    color: #F0DFDF;
    border: none;
    background-color: #228E9D;
    margin-left: auto;
    font-size: 18px;
}

/* content */

.main_wrapper{
    max-width: 1024px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 24px;
}

.main_h2{
    text-align: center;
    font-size: 48px;
    margin: 0;
    padding-top: 36px;
    padding-bottom: 38px;
}
.main_cards{
    display: grid;
    grid-template-columns: repeat(3, minmax(309px, 1fr));
    gap: 25px;

}

.main_cards_card{
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.main_cards_card_image{
    max-width: 140px;
    max-height: 140px;
    padding-bottom: 20px;
}

.main_cards_card_text{
    text-align: center;
    padding: 0 16px;
}

.main_cards_card_title{
    text-align: center;
    padding: 24px 0;
    font-size: 20px;
}

.main_cards_card_button{
    color: #FFFFFF;
    border: none;
    background-color: #E78E24;
    font-size: 18px;
    margin: 29px 24px;
    height: 47px;
    width: 261px;
    
}

.button{
    padding: 0;
    margin: auto;
}
/* footer */

.footer{
    flex: 0 0 auto;
    background-color: #FCE3C3;
}

.footer_copy{
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 30px auto;
}